/* Custom Font Definitions */

@font-face {
    font-family: montblack;
    src: url("../Fonts/Montserrat-Black.otf");
}
@font-face {
    font-family: montbold;
    src: url("../Fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: montxbold;
    src: url("../Fonts/Montserrat-ExtraBold.otf");
}

@font-face {
    font-family: monthair;
    src: url("../Fonts/Montserrat-Hairline.otf");
}
@font-face {
    font-family: montlight;
    src: url("../Fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: montreg;
    src: url("../Fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: montsemibold;
    src: url("../Fonts/Montserrat-SemiBold.otf");
}
@font-face {
    font-family: montultralight;
    src: url("../Fonts/Montserrat-UltraLight.otf");
}
@font-face {
    font-family: handwriting;
    src:url("../Fonts/Sweetly%20Broken.ttf");
}




#greet_hello
{
    font-family: "Montserrat Semi Bold";
    font-size:90px;
    color:#ffffff;
}
#main_left_ownimg,#main_left_owndetails {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 50%;
    min-height: 100%;
}
.main_right
{
    position: fixed;
    background: #3397DA;
    color: #ffffff;
    top:0;
    bottom:0;
    right: 0;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
    transition: all 2s ease-in-out;

}
.main_left
{
    transition: all 2s ease-in-out;
}
.right_body
{

    margin-top:30%;
    margin-left: 10%;
}
#me_intro
{
    font-family: "Montserrat Ultra Light";
    font-size: 30px;
}
.largebutton
{
    background: #da7633;
    color:#ffffff;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
   transition:all 0.5s ease-in-out;
    font-family: "Montserrat Semi Bold";
}
.largebutton:hover
{

    border: 1px solid #ffffff;
    color: #ffffff;

}
.loader
{
    position:fixed;
    background: #da7633;
    min-width: 100%;
    min-height: 100%;
}
.smallimg
{
    height:30px;
}
.section_head
{
    font-family: montsemibold;
    font-size: 50px;
    color:#fff;

}
#smallname
{
    font-family: handwriting;
    font-size:25px;
    font-weight: bold;
    color:#cccccc;
}
#section1
{
    background:url(../assets/squarespace-developer-devon-stank-banner-01.jpg) no-repeat center center fixed;
    background-size: cover;
}
.submenu
{
    text-align: center;
    font-family: montreg;
    font-size:15px;
    color:rgba(26,26,26,0.6);

}
.submenu a{

    color:rgba(26,26,26,0.6);
}
.subhead
{
    font-family: montreg;
    font-size:20px;
}
.centertext
{
    text-align: center;
}
.subsubtext
{
    font-family: montreg;
    color:rgba(26,26,26,0.6);

}
.footer
{
    background:#26262A;
    position: relative;
    bottom:0;
    height:auto;


}
.medium_button
{
    border:2px solid #26262A !important;
    font-family: montreg;
    color:rgba(0,0,0,1);
    background: #fff;
    border-radius: 0px;
    transition: all 1s ease-in-out;
}
.profimage
{
    height:100px;
}
.workbox
{
    width:auto;
    height:auto;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 0px solid rgba(0,0,0,0.3);

    /*box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);*/
    text-align: center;
}
.downbutton-workbox
{
    font-family: montreg;
    width:100px;
    border-radius: 0px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    position:relative;
    bottom:0px;

}
.boximg
{

    height:250px;
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
}
.overlay
{
    height: auto;
    width: auto;
    background:rgba(0,0,0,0.3);
}
.boximg-desc
{
    font-family: montsemibold;
    color:grey;
}
